<!DOCTYPE html>
<html>
  <head>
    <title>Interfaz ML - Rodrigo Leo</title>
  <link rel="stylesheet" href="{{ estilo }}">
  </head>
  <body>
    <h1>Interfaz ML</h1>
    <p class="nombre">Rodrigo Leo, 2021 (<a href="https://github.com/r-leo/ml_digits" target="_blank">GitHub</a>)</p>

    <h2>Entrada</h2>

    <p>Dibuja un dígito manuscrito (del cero al nueve) en el siguiente recuadro. Cuando presiones "Procesar", la imagen se traducirá en una matriz de píxeles para ser interpretada por el algoritmo de ensamble que programamos.</p>

    <div id="container" class="container">
      <canvas id="drawing-area" class="drawing-area" height="100" width="100"></canvas>
      <div style="display: flex; flex-direction: row;">
        <button id="clear-button" class="limpiar" type="button">Borrar</button>
        <button id="process-button" class="procesar" type="button">Procesar</button>
      </div>
    </div>

    <script src="{{ codigo }}"></script>
    <script src="{{ jquery }}"></script>
    <script src="{{ redirect }}"></script>

  </body>
</html>
